<div fs-item-edit item="name" agent="agent" hide-modified="{{hideModified}}" hide-buttons="{{hideButtons}}">
  <div ng-hide="name.preferred" class="form-group">
    <select ng-model="form.nameType" ng-options="nameType.value as nameType.label for nameType in nameTypes"></select>
  </div>
  <div class="form-group">
    Name&nbsp;&nbsp;|&nbsp;&nbsp;Template:
    <span style="position:relative">
      <a href="" dropdown-toggle>{{form.template.template}}</a>&#9660;
      <ul class="dropdown-menu">
        <li ng-click="" ng-repeat="template in templates">
          <a href="" ng-click="setTemplate(template)">
            <span ng-show="template === form.template" style="margin-left: -10px">&#10003;</span>
            <span ng-hide="template === form.template">&nbsp;</span>
            {{template.template}}
          </a>
        </li>
      </ul>
    </span>
  </div>
  <div class="row">
    <div ng-show="showLangLabel()" ng-class="getColumnClass()">&nbsp;</div>
    <div ng-class="getColumnClass(column.type)" ng-repeat="column in columns">
      {{column.label}}
    </div>
  </div>
  <div class="row" ng-repeat="nameForm in form.nameForms">
    <div ng-show="showLangLabel()" ng-class="getColumnClass()">
      <div class="form-group">
        <label>{{nameForm.label}}</label>
      </div>
    </div>
    <div ng-class="getColumnClass(column.type)" ng-repeat="column in columns">
      <div class="form-group" ng-show="!!getPart(nameForm, column.type)">
        <input class="form-control" placeholder="{{column.label}}" type="text" ng-model="getPart(nameForm, column.type).value">
      </div>
    </div>
  </div>
  <div class="form-group" ng-hide="hideReason === 'true'">
    <label>Reason this Information is Correct</label>
    <textarea class="form-control" ng-model="form.reason" placeholder="Explain why you feel this information is correct."></textarea>
  </div>
</div>
