<div fs-item-edit item="disc" hide-modified="true">
  <div class="form-group">
    <label>Write a title for your discussion.</label>
    <textarea class="form-control" ng-model="form.title" placeholder="Give a title for this discussion."></textarea>
  </div>
  <div class="form-group">
    <label>Write a description.</label>
    <textarea class="form-control" ng-model="form.details" placeholder="Give more details about this discussion."></textarea>
  </div>
  <div fs-discussion-contributor disc="disc" agent="agent"></div>
</div>
