<div class="tree-wrapper" >

    <span ng-show="family.isReadingAncestry()" style="float: left; line-height: 50px;position:absolute; left:980px;top:368px"><i class="fa fa-spinner fa-spin"></i></span>
    <span ng-show="family.parentFamilyOfHusband().isReadingAncestry()" style="float: left; line-height: 50px;position:absolute; left:1330px;top:172px"><i class="fa fa-spinner fa-spin"></i></span>
    <span ng-show="family.parentFamilyOfHusband().parentFamilyOfHusband().isReadingAncestry()" style="float: left; line-height: 50px;position:absolute; left:1507px;top:52px"><i class="fa fa-spinner fa-spin"></i></span>
    <span ng-show="family.parentFamilyOfHusband().parentFamilyOfWife().isReadingAncestry()" style="float: left; line-height: 50px;position:absolute; left:1507px;top:298px"><i class="fa fa-spinner fa-spin"></i></span>

    <span ng-show="family.parentFamilyOfWife().isReadingAncestry()" style="float: left; line-height: 50px;position:absolute; left:1330px;top:580px"><i class="fa fa-spinner fa-spin"></i></span>
    <span ng-show="family.parentFamilyOfWife().parentFamilyOfHusband().isReadingAncestry()" style="float: left; line-height: 50px;position:absolute; left:1507px;top:456px"><i class="fa fa-spinner fa-spin"></i></span>
    <span ng-show="family.parentFamilyOfWife().parentFamilyOfWife().isReadingAncestry()" style="float: left; line-height: 50px;position:absolute; left:1507px;top:696px"><i class="fa fa-spinner fa-spin"></i></span>

    <!--kids-->
    <div ng-if="showKids && family.hasChildFamilies()" id="kids" style="position:absolute; left: 0;" ng-style="childFamiliesPlacement()">
        <div ng-repeat="childFamily in family.childFamilies()" class="child-list-item">
            <div ng-if="childFamily.hasChildFamilies()" class="sans-serif next-gen-kids" style="position:absolute;left:260px;top:0px;z-index: 10000">
                <div class="pull-left" style="display:none">
                    Expand Tree
                </div>
                <div class="pull-left">
                    <span ng-click="expandChild($index,childFamily)" class="next-gen-kids-arrow" ng-class="{'fs-icon-arrow-left':!isChildExpanded($index),'fs-icon-arrow-right':isChildExpanded($index) }"></span>
                </div>
                <div class="clearboth">&nbsp;</div>
            </div>

            <div ng-class="{'child-connector-top':($first && !$last), 'child-connector-solo':($first && $last), 'child-connector-bottom':(!$first && $last), 'child-connector-middle':(!$first && !$last)}" />

            <div ng-if="!$first && !$last" class="child-connector-middle-bar">&nbsp;</div>

            <div fs-tree-node family="childFamily"/>

            <div fs-tree-fragment ng-if="isChildExpanded($index)"  family="childFamily" show-kids="true" show-root-couple="false" show-parents="false" style="position:absolute; top:-350px; left:-230px;"/>



            <div class="clearboth">&nbsp;</div>
        </div>

    </div>
    <div ng-if="showKids && family.hasChildFamilies()" style="height: 5px; width:60px; border-top:solid 1px #787068; position:absolute; top:392px; left:620px; z-index: 1">
        &nbsp;
    </div>

    <!--root couple-->
    <div ng-if="showRootCouple" id="root-couple" fs-tree-node family="family" style="position:absolute; top:350px; left:350px;" />
    <div ng-if="showParents" style="height: 5px; width:300px; border-top:solid 1px #787068; position:absolute; top:392px; left:680px; z-index: 1">
        &nbsp;
    </div>

    <div ng-if="showParents" style="height: 408px; width:35px; border:solid 1px #787068; border-right:none; position:absolute; top:197px; left:980px; z-index: 1">
        &nbsp;
    </div>


    <!--husband's parents-->
    <div  ng-show="showParents" id="h-parents" fs-tree-node brackets="under" family="family.parentFamilyOfHusband()" style="position:absolute; top:155px; left:715px;" />

    <!--wife's parents-->
    <div ng-show="showParents" id="w-parents" fs-tree-node brackets="under" family="family.parentFamilyOfWife()" style="position:absolute; top:560px; left:715px;"/>

    <!--husband's paternal grandparents-->
    <div ng-show="showParents" id="grandparents1" fs-tree-node  expandable="{arg:'husbandPaternalGrandparents',func:expand}" family="family.parentFamilyOfHusband().parentFamilyOfHusband()" style="position:absolute; top:35px; left:900px;"/>
    <div fs-tree-fragment ng-if="isExpanded('husbandPaternalGrandparents')" family="family.parentFamilyOfHusband().parentFamilyOfHusband()" show-kids="false" show-root-couple="false" show-parents="true" style="position:absolute; top:-314px; left:670px;"/>

    <div ng-if="showExpandAncestor(family.parentFamilyOfHusband().parentFamilyOfHusband())" ng-click="expand('husbandPaternalGrandparents', family.parentFamilyOfHusband().parentFamilyOfHusband())" class="sans-serif next-gen-anc extend1">
        <div class="pull-left">
            <span class="next-gen-anc-arrow" ng-class="{'fs-icon-arrow-left':isExpanded('husbandPaternalGrandparents'),'fs-icon-arrow-right':!isExpanded('husbandPaternalGrandparents') }"></span>
        </div>
        <div class="pull-left" style="display:none">
            Expand Tree
        </div>
        <div class="clearboth">&nbsp;</div>
    </div>

    <!--husband's maternal grandparents-->
    <div ng-show="showParents" id="grandparents2" fs-tree-node expandable="{arg:'husbandMaternalGrandparents',func:expand}"  family="family.parentFamilyOfHusband().parentFamilyOfWife()"  style="position:absolute; top:280px; left:900px;"/>
    <div fs-tree-fragment ng-if="isExpanded('husbandMaternalGrandparents')" family="family.parentFamilyOfHusband().parentFamilyOfWife()" show-kids="false" show-root-couple="false" show-parents="true" style="position:absolute; top:-67px; left:670px;"/>
    <div ng-if="showExpandAncestor(family.parentFamilyOfHusband().parentFamilyOfWife())" ng-click="expand('husbandMaternalGrandparents',family.parentFamilyOfHusband().parentFamilyOfWife())" class="sans-serif next-gen-anc extend2">
        <div class="pull-left">
            <span class="next-gen-anc-arrow" ng-class="{'fs-icon-arrow-left':isExpanded('husbandMaternalGrandparents'),'fs-icon-arrow-right':!isExpanded('husbandMaternalGrandparents') }"></span>
        </div>
        <div class="pull-left" style="display:none">
            Expand Tree
        </div>
        <div class="clearboth">&nbsp;</div>
    </div>

    <!--wife's paternal grandparents-->
    <div ng-show="showParents" id="grandparents3" fs-tree-node  expandable="{arg:'wifePaternalGrandparents',func:expand}"  family="family.parentFamilyOfWife().parentFamilyOfHusband()"  style="position:absolute; top:440px; left:900px;" />
    <div fs-tree-fragment ng-if="isExpanded('wifePaternalGrandparents')" family="family.parentFamilyOfWife().parentFamilyOfHusband()" show-kids="false" show-root-couple="false" show-parents="true" style="position:absolute; top:91px; left:670px;"/>
    <div ng-if="showExpandAncestor(family.parentFamilyOfWife().parentFamilyOfHusband())" ng-click="expand('wifePaternalGrandparents',family.parentFamilyOfWife().parentFamilyOfHusband())" class="sans-serif next-gen-anc extend3">
        <div class="pull-left">
            <span class="next-gen-anc-arrow" ng-class="{'fs-icon-arrow-left':isExpanded('wifePaternalGrandparents'),'fs-icon-arrow-right':!isExpanded('wifePaternalGrandparents') }"></span>
        </div>
        <div class="pull-left" style="display:none">
            Expand Tree
        </div>
        <div class="clearboth">&nbsp;</div>
    </div>

    <!--wife's maternal grandparents-->
    <div ng-show="showParents" id="grandparents4" fs-tree-node  expandable="{arg:'wifeMaternalGrandparents',func:expand}" family="family.parentFamilyOfWife().parentFamilyOfWife()" style="position:absolute; top:680px; left:900px;" />
    <div fs-tree-fragment ng-if="isExpanded('wifeMaternalGrandparents')" family="family.parentFamilyOfWife().parentFamilyOfWife()" show-kids="false" show-root-couple="false" show-parents="true" style="position:absolute; top:337px; left:670px;"/>
    <div ng-if="showExpandAncestor(family.parentFamilyOfWife().parentFamilyOfWife())" ng-click="expand('wifeMaternalGrandparents',family.parentFamilyOfWife().parentFamilyOfWife())" class="sans-serif next-gen-anc extend4">
        <div class="pull-left">
            <span class="next-gen-anc-arrow" ng-class="{'fs-icon-arrow-left':isExpanded('wifeMaternalGrandparents'),'fs-icon-arrow-right':!isExpanded('wifeMaternalGrandparents') }"></span>
        </div>
        <div class="pull-left" style="display:none">
            Expand Tree
        </div>
        <div class="clearboth">&nbsp;</div>
    </div>
</div>

