<div class="pull-left all-family-wrapper">
    <div class="pull-right sans-serif next-gen-kids">
        <div class="pull-left" style="display:none">
            Expand Tree
        </div>
        <div ng-show="expandable" class="pull-left">
            <span class="fs-icon-arrow-left next-gen-kids-arrow"></span>
        </div>
        <div class="clearboth">&nbsp;</div>
    </div>


    <!--Alternate husbands-->
    <div ng-show="family.hasAlternateHusbands()" family="family" fs-tree-popover popover-arrow="div:not(:nth-child(3))" popover-hover=".tree-hover-point" popover-content="div:nth-child(3)" enabled="true"
         class="all-husbands-wrapper">

        <div class="pull-left text-right sans-serif all-family-label">
            <p style="padding-top:8px">All Husbands</p>
        </div>
        <div class="pull-right all-husbands-arrow-closed">
            <span class="fs-icon-arrow-left"></span>
        </div>
        <div class="pull-left text-right sans-serif all-family-label">
            <div class="all-family-list fs-tree-popover-content">
                <span ng-repeat="person in family.alternateHusbands()" ><a fs-person-popover person="person">{{person.$getPreferredName().$getFullText()}}</a><br></span>
            </div>
        </div>

        <div class="clearfix">&nbsp;</div>
    </div>

    <!--Alternate wives-->
    <div ng-show="family.hasAlternateWives()" family="family" fs-tree-popover popover-arrow="div:not(:nth-child(3))" popover-hover=".tree-hover-point" popover-content="div:nth-child(3)" enabled="true"
         class="all-wives-wrapper">

        <div class="pull-left text-right sans-serif all-family-label">
            <p style="padding-top:8px">All Wives</p>
        </div>
        <div class="pull-right all-husbands-arrow-closed">
            <span class="fs-icon-arrow-left"></span>
        </div>
        <div class="pull-left text-right sans-serif all-family-label">
            <div class="all-family-list fs-tree-popover-content">
                <span ng-repeat="person in family.alternateWives()" ><a fs-person-popover person="person">{{person.$getPreferredName().$getFullText()}}</a><br></span>
            </div>
        </div>

        <div class="clearfix">&nbsp;</div>
    </div>
</div>

<div class="pull-left tree-hover-point">
    <div class="pull-left couple-card">
        <div>
            <div class="pull-left">
                <div class="pull-left fs-icon-male couple-icon couple-icon-male" style="margin-right:8px;">&nbsp;</div>
            </div>
            <div class="pull-left">
                <a ng-show="!family.hasHusband()" href="" class="name-line">Husband's Name</a>
                <a fs-person-popover person="family.husbandDescription.person" ng-show="family.hasHusband()" href=""
                   class="name-line" style="display:inline">{{family.husbandDescription.displayName()}}</a>
                <br>

                <div class="pedigree-lifeSpan pull-left">lifespan</div>
                <div class="pull-left dot-guy">•</div>
                <div class="pull-left pedigree-pid">ID#</div>
                <div class="clearboth">&nbsp;</div>
            </div>

            <div class="clearboth">&nbsp;</div>
        </div>
        <div>
            <div class="pull-left">
                <div class="pull-left fs-icon-female couple-icon couple-icon-female" style="margin-right:8px">&nbsp;</div>
            </div>
            <div class="pull-left">
                <a ng-show="!family.hasWife()" href="" class="name-line">Wife's Name</a>
                <a fs-person-popover person="family.wifeDescription.person" ng-show="family.hasWife()" href="" class="name-line">{{family.wifeDescription.displayName()}}</a>
                <br>

                <div class="pedigree-lifeSpan pull-left">lifespan</div>
                <div class="pull-left dot-guy">•</div>
                <div class="pull-left pedigree-pid">ID#</div>
                <div class="clearboth">&nbsp;</div>
            </div>
            <div class="clearboth">&nbsp;</div>
        </div>
    </div>

    <div class="clearboth">&nbsp;</div>

    <!-- list of kids hover controls -->
    <div>
        <!--list of kids collapsed-->
        <div class="pull-left" ng-show="family.hasChildren()" family="family" fs-tree-popover popover-arrow="div:not(:nth-child(3))" popover-hover=".tree-hover-point" popover-content="div:nth-child(3)">
            <div class="pull-left kid-list-arrow-closed">
                <div class="fs-icon-arrow-down"></div>
            </div>
            <div class="pull-left sans-serif kid-list-label">
                Children
            </div>
            <div class="all-family-list">
                <span ng-repeat="person in family.children()" ><a fs-person-popover person="person">{{person.$getPreferredName().$getFullText()}}</a><br></span>
            </div>
        </div>
        <div class="clearboth">&nbsp;</div>
    </div>
</div>


<div class="pull-left all-family-wrapper">


    <!--Alternate parents of the husband-->
    <div ng-show="family.hasAlternatePaternalParents()" family="family" fs-tree-popover popover-arrow="div:not(:nth-child(3))" popover-hover=".tree-hover-point" popover-content="div:nth-child(3)" class="all-husbands-wrapper wrapper-closed" >

        <div class="pull-left husband-parents-arrow-closed">
            <span class="fs-icon-arrow-right"></span>
        </div>
        <div class="pull-left sans-serif all-family-label">
            <p style="padding:8px 0 0 5px">All Parents</p>
        </div>
        <div class="pull-left sans-serif all-family-list-wrapper">
            <div class="all-family-list" style="margin:0 0 0 5px">
                <span ng-repeat="parents in family.alternatePaternalParents()" >
                    <a fs-person-popover person="parents.father">{{parents.father.$getPreferredName().$getFullText()}}</a><br>
                    <a fs-person-popover person="parents.mother">{{parents.mother.$getPreferredName().$getFullText()}}</a><br>
                    <span>-----</span>
                </span>
            </div>
        </div>

        <div class="clearfix">&nbsp;</div>
    </div>

    <!--Alternate parents of the wife-->
    <div ng-show="family.hasAlternateMaternalParents()" family="family" fs-tree-popover popover-arrow="div:not(:nth-child(3))" popover-hover=".tree-hover-point" popover-content="div:nth-child(3)" class="all-wives-wrapper wrapper-closed" >

        <div class="pull-left husband-parents-arrow-closed">
            <span class="fs-icon-arrow-right"></span>
        </div>
        <div class="pull-left sans-serif all-family-label">
            <p style="padding:8px 0 0 5px">All Parents</p>
        </div>
        <div class="pull-left sans-serif all-family-list-wrapper">
            <div class="all-family-list" style="margin:0 0 0 5px">
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
            </div>
        </div>

        <div class="clearfix">&nbsp;</div>
    </div>

    <!--All wife's parents closed-->
    <div class="all-wives-wrapper" ng-show="family.hasAlternateMaternalParents()" family="family" fs-tree-popover popover-arrow="div:not(:nth-child(3))" popover-hover=".tree-hover-point" popover-content="div:nth-child(3)">
        <div class="pull-left wife-parents-arrow-closed">
            <span class="fs-icon-arrow-right"></span>
        </div>
        <div class="pull-left sans-serif all-family-label">
            <p style="padding:8px 0 0 5px">All Parents</p>
        </div>
        <div class="pull-left sans-serif all-family-list-wrapper">
            <div class="all-family-list" style="margin:0 0 0 5px">
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
    </div>

    <!--All wife's parents open-->
    <div class="all-wives-wrapper" style="display:none">
        <div class="pull-left wife-parents-arrow-open">
            <span class="fs-icon-arrow-right"></span>
        </div>
        <div class="pull-left sans-serif all-family-list-wrapper">
            <p style="padding:8px 0 0 5px">All Parents</p>

            <div class="all-family-list" style="margin:0 0 0 5px">
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
                List<br>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
    </div>
</div>
