<div class="panel panel-primary family-panel">
  <div class="panel-heading">
    <div class="options">
      <a class="panel-collapse" href="" ng-click="toggleState()">
        <span ng-show="state.value === 'open'"><i class="fa fa-chevron-down">&nbsp;</i>Close</span>
        <span ng-hide="state.value === 'open'"><i class="fa fa-chevron-up">&nbsp;</i>Open</span>
      </a>
      <a ng-show="detailsOpenable === 'true' && state.value === 'open'" class="toggleDetails hidden-xs" href="">
        <span ng-hide="hasOpenDetails()" ng-click="openDetails(true)"><i class="fa fa-eye">&nbsp;</i>Show Details</span>
        <span ng-show="hasOpenDetails()" ng-click="openDetails(false)"><i class="fa fa-eye-slash">&nbsp;</i>Hide Details</span>
      </a>
    </div>
    <h4 class="panel-title">
      {{sectionTitle}}
      <span ng-show="busy === 'true'"><i class="fa fa-spinner fa-spin"></i></span>
    </h4>
  </div>
  <div ng-show="state.value === 'open'">
    <div class="row" ng-show="addable === 'true' || attachable === 'true'">
      <div class="col-md-12" style="padding: 0 27px;">
        <a href="" ng-show="attachable === 'true'" ng-click="$emit('attach')" class="btn btn-link non-form addNewNote pull-right">
          <i class="fa fa-plus-square">&nbsp;</i>{{attachLabel}}
        </a>
        <div ng-show="addable === 'true'" class="btn btn-link non-form addNewNote pull-right">
          <a href="" ng-if="!addMenu" ng-click="$emit('add')"><i class="fa fa-plus-square">&nbsp;</i>{{addLabel}}</a>
          <div ng-if="!!addMenu" style="position:relative;">
            <a href="" dropdown-toggle style="padding-left:100px;"><i class="fa fa-plus-square">&nbsp;</i>{{addLabel}}</a>
            <ul class="dropdown-menu">
              <li ng-click="$emit('add', menuItem.value)" ng-repeat="menuItem in addMenu">
                {{menuItem.label}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div ng-transclude></div>
  </div>
</div>
