<div class="panel panel-default tree-family">
  <div class="panel-heading">
    <div class="connector">
      &nbsp;
    </div>
    <div class="coupleWrapper">
      <div fs-person-small ng-if="!!family.husband" person="family.husband" is-focus="{{isFocus(family.husband)}}"></div>
      <div fs-family-members-add-spouse ng-if="!family.husband" gender="Male"></div>
      <div fs-person-small ng-if="!!family.wife" person="family.wife" is-focus="{{isFocus(family.wife)}}"></div>
      <div fs-family-members-add-spouse ng-if="!family.wife" gender="Female"></div>
    </div>
    <div class="event">
      <div ng-hide="!!couple" class="noCoupleRelationship">No Couple Relationship</div>
      <div ng-show="!!couple.$getMarriageFact()" class="eventName">Married</div>
      <div ng-show="!!couple.$getMarriageFact().$getDate()" class="eventDate">{{couple.$getMarriageFact() | fsDate}}</div>
      <div ng-show="!!couple.$getMarriageFact().$getPlace()" class="eventPlace"
           title="{{couple.$getMarriageFact().$getNormalizedPlace()}}">{{couple.$getMarriageFact().$getPlace()}}</div>
    </div>
    <div class="clearboth">
      &nbsp;
    </div>
    <div class="lowerBar">
      <div ng-show="showPreferred === 'true'" style="text-align: left; float: left; padding-left: 10px; color: #fff">
        <input type="checkbox" ng-model="isPreferred.value" ng-change="changePreferred()">
        PREFERRED
      </div>
      <a ng-show="!!couple" ng-href="{{editCoupleHref}}" class="editCouple">EDIT COUPLE</a>
    </div>
  </div>
  <div class="childrenHolder">
    <a href="" class="childHide" ng-click="toggleHideChildren()"><span class=""><i class="fa fa-chevron-up"></i></span>Children ({{children.length}})</a>
    <div class="panel-body" ng-hide="family._hideChildren">
      <table class="table-hover childrenList">
        <tbody>
        <tr ng-repeat="child in children">
          <td>
            <div fs-person-small person="child.person" edit-parents="true" parents-id="{{child.parentsId}}" is-focus="{{isFocus(child)}}"></div>
          </td>
        </tr>
        <tr class="actionRow">
          <td>
            <a ng-href="{{addChildHref}}" class="btn btn-link non-form addChild">
              <i class="fa fa-plus-square">&nbsp;</i>Add Child
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
