<div style="padding: 0 20px 20px 20px; width: 600px">
  <h2>Detach Source From
    <span ng-show="!!husband && !!wife">Couple Relationship</span>
    <span ng-show="!!child">Parent-Child Relationship</span>
  </h2>
  <div fs-couple-profile ng-show="!!husband && !!wife" husband="husband" wife="wife"></div>
  <div fs-parents-profile ng-show="!!child" child="child" father="father" mother="mother"></div>
  <ul ng-show="!!person">
    <li>{{person.$getDisplayName()}}<br/>{{person.$getDisplayLifeSpan()}} &middot; {{person.id}}</li>
  </ul>
  <h4 ng-show="sourceRef.$getTags().length > 0">Tagged Events</h4>
  <span ng-repeat="tag in sourceRef.$getTags()">
    {{tag | fsGedcomxLabel}}<span ng-hide="$last">,</span>
  </span>
  <h4>Reason This Source Was Attached</h4>
  <span>{{sourceRef.attribution.changeMessage}}</span>
  <h4>Attached</h4>
  {{sourceRef.attribution.modified | date:'dd-MMM-yyyy'}} by {{agent.$getAccountName()}}
  <h4>Reason to Detach Source</h4>
  <textarea rows="4" ng-model="changeMessage" style="width: 100%" placeholder="Explain why you are detaching this source from this individual"></textarea>
  <div class="actionRow">
    <button class="btn btn-primary saveButton" type="submit" ng-click="ok(changeMessage)">Detach</button>
    <button class="btn btn-link cancelButton" type="submit" ng-click="cancel()">Cancel</button>
  </div>
</div>