<div>
  <div class="detailActions">
    <a href="" class="btn btn-xs btn-link editDetail non-form" ng-click="$emit('view', source.description)"><i class="fa fa-external-link">&nbsp;</i>View</a>
    <a href="" class="btn btn-xs btn-link editDetail non-form" ng-click="$emit('edit', source.description)"><i class="fa fa-edit">&nbsp;</i>Edit</a>
    <a href="" class="detatchDetail btn btn-link btn-xs non-form" ng-click="$emit('delete', source.ref)"><i class="fa fa-unlink">&nbsp;</i>Detach</a>
    <!-- report abuse isn't available through the api
    <a href="" class="detatchDetail btn btn-link btn-xs non-form"><i class="fa fa-warning">&nbsp;</i>Report Abuse</a>
    -->
    <a href="" fs-vital-tags-popover ng-hide="hideTags === 'true'" source-ref="source.ref">
      <span class="detatchDetail btn btn-link btn-xs non-form popupTags">
        <i class="fa fa-tags">&nbsp;</i>Tags<span class="badge" style="margin-left:5px;">{{source.ref.$getTags().length}}</span>
      </span>
    </a>
  </div>

  <div class="detailsItem" ng-show="!!source.description.about" style="display:block;">
    <span class="eventLabel">url</span><br>
    <a ng-href="{{source.description.about}}" target="_blank" class="openEventDetails">{{source.description.about}}</a>
  </div>
  <div class="detailsItem" ng-show="!!source.description.$getCitation()" style="display:block;">
    <span class="eventLabel">citation</span><br>
    {{source.description.$getCitation()}}
  </div>
  <div class="detailsItem" ng-show="!!source.description.$getText()" style="display:block;">
    <span class="eventLabel">notes</span><br>
    {{source.description.$getText()}}
  </div>
  <div class="detailsWell sourceItem">
    <hr/>
    <div fs-source-justification source-ref="source.ref" editable="true" ng-hide="source.ref._editingJustification"></div>
    <div fs-source-justification-edit source-ref="source.ref" ng-show="source.ref._editingJustification"></div>
  </div>
  <div fs-item-modified item="source.description" agent="agent"></div>
</div>
