<div class="sourceDialog createSource" id="sourceCreateDialog" tabindex="-1" role="dialog" aria-labelledby="sourceCreateDialogLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" ng-click="cancel()" class="close" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="sourceCreateDialogLabel">Create a Source</h4>
    <h5>Identify the record you have found. This will be called a "Source."</h5>
  </div>
  <div class="modal-body">
    <form role="form" name="myForm">
      <div class="form-group">
        <label for="title">Source Title (Required)</label>
        <span ng-show="submitted && myForm.titleField.$error.required" style="color: red"> please enter a title</span>
        <input type="text" class="form-control" id="title" name="titleField" ng-model="form.title" required
               placeholder="Example: England, Death Certificate of Hugh S. Smith - (1832-1912)">
        <span class="help-block">Enter a source title that you will recognize later. <small>Example: 1841 Scottish Census Hugh S. Smith family</small></span>
      </div>

      <div class="form-group">
        <label for="url">Web Page (Link to the Record)</label>
        <input type="text" class="form-control" id="url" ng-model="form.url"
               placeholder="Example: England, Death Certificate of Hugh S. Smith - (1832-1912)">
        <span class="help-block">Enter a source title that you will recognize later. <small>Example: 1841 Scottish Census Hugh S. Smith family</small></span>
      </div>

      <div class="form-group">
        <label for="citation">Where the Record Is Found (Citation)</label>
        <textarea rows="2" type="title" class="form-control" id="citation" ng-model="form.citation"
                  placeholder="Example: UK Census, 1841, Arbroath, Perth, Scotland. Population schedule. Dwelling address. Federal archive. Digital Image"></textarea>
        <span class="help-block">Where is the record found? This citation is useful if the web page disappears. <small>Example: US Census 1890, Tooele, Utah. Population schedule Federal archive. Digital...</small></span>
      </div>
      <div class="form-group">
        <label for="notes">Describe the Record (Notes)</label>
        <textarea rows="4" type="notes" class="form-control" id="notes" ng-model="form.notes"
                  placeholder="Example: Hugh S. Smith Family Page 7. Lines 23-27. Arbroath, Scotland. UK Census 1841 Father: Robert Smith. Mother: Helen Strachen. Children: Hugh Sidley Smith, Robert Smith."></textarea>
        <span class="help-block">What is the information of interest in the record? <small>Example: Hugh S. Smith Page 7 Lines 23-27. Father: Robert Smith  Mother: Helen...</small></span>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" ng-show="saveAndAttach" class="btn btn-link" ng-click="save(true)">Save and Attach</button>
    <button type="button" ng-show="saveAndAttach" class="btn btn-primary" ng-click="save(false)">Save</button>
    <button type="button" ng-hide="saveAndAttach" class="btn btn-primary" ng-click="save(true)">Save</button>
  </div>
</div>
