<div class="detailsWell editing">
  <div class="form-group">
    <label>Reason this Source is Attached</label>
    <textarea class="form-control" name="justification" placeholder="Explain why you attached this source to this individual.">{{source.ref.attribution.changeMessage}}</textarea>
  </div>
  <div class="actionRow">
    <button class="btn btn-primary saveButton" type="submit" ng-click="submit()">Save</button>
    <button class="btn btn-link cancelButton" type="submit" ng-click="cancelEdit()">Cancel</button>
  </div>
</div>
