<div fs-item-edit item="fact" submit="submit()">
  <div class="form-group">
    <label>{{fact.type | fsGedcomxLabel}} Date</label>
    <input class="form-control" placeholder="Date of {{fact.type | fsGedcomxLabel}}" type="text" ng-model="form.date">
  </div>
  <div class="form-group">
    <label>{{fact.type | fsGedcomxLabel}} Place</label>
    <input class="form-control" placeholder="Place of {{fact.type | fsGedcomxLabel}}" type="text" ng-model="form.place">
  </div>
  <div class="form-group">
    <label>Reason this Information is Correct</label>
    <textarea class="form-control" name="justification" placeholder="Explain why you feel this information is correct."></textarea>
  </div>
</div>
