<td class="changeInformation">
  <div class="changeType">{{change.title}}</div>
  <div class="changeDate"><abbr class="timeago">{{change.updated | date:'dd-MMM-yyyy'}}</abbr></div>
  <div class="changeContributor">
    by
        <a href="" fs-agent-popover agent="agent" ng-click="setAgent()">
            <span class="contributorCard">{{change.$getAgentName()}}</span>
        </a>
  </div>
</td>
<td class="changeDetails">
  <div fs-change-details change="change"></div>
</td>
<td class="changeActions">
  <div ng-hide="change._isRestorable">{{getAction(change)}}</div>
  <div ng-show="change._isRestorable && canRestore(change)">
    <button class="btn btn-primary" ng-click="$emit('restore', change)">Restore</button>
  </div>
</td>