<div class="changeHistory" tabindex="-1" role="dialog" aria-labelledby="restoreChangeDialogLabel" aria-hidden="true">
  <div class="modal-header">
    <button ng-click="cancel()" type="button" class="close" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="retoreChangeDialogLabel">
      Restore Change
      <span ng-show="busy"><i class="fa fa-spinner fa-spin"></i></span>
    </h4>
  </div>
  <div class="modal-body">
    <div ng-show="!!person" class="profileHeaderContainer" fs-person-profile person="person"></div>
    <div ng-show="!!couple" class="profileHeaderContainer" fs-couple-profile husband="husband" wife="wife" hide-popover="true"></div>
    <div ng-show="!!parents" class="profileHeaderContainer" fs-parents-profile child="child" father="father" mother="mother" hide-popover="true"></div>
    <div class="mainContent">
      <div class="row">
        <div class="col-md-6 current-info">
          <div class="restore-heading">Currently Displayed</div>
          <div fs-change-details change="current"></div>
          <div class="changeContributor" style="margin-top:15px" ng-show="!!current.agentName">
            Changed by <span class="contributorCard">{{current.agentName}}</span>
          </div>
          <div class="changeDate"><abbr class="timeago">{{current.attribution.modified | date:'dd-MMM-yyyy'}}</abbr></div>
        </div>
        <div class="col-md-6 restore-info">
          <div class="restore-heading">Information to Restore</div>
          <div fs-change-details change="change"></div>
          <div class="changeContributor" style="margin-top:15px">
            Changed by <span class="contributorCard">{{change.$getAgentName()}}</span>
          </div>
          <div class="changeDate"><abbr class="timeago">{{change.updated | date:'dd-MMM-yyyy'}}</abbr></div>
            <div style="margin-top:15px">
              <button type="button" class="btn btn-primary" ng-click="restore()">Restore</button>
              <button type="button" class="btn btn-link" ng-click="cancel()">Cancel</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
