<div>
  <div fs-section section-title="Parents" state="state" details-openable="true" items="items" addable="false">
    <div class="panel-body otherInfoBody">
      <div ng-repeat="member in members">
        <div fs-relationship-member person="member" role="{{getRole($index)}}"
            changeable="{{$index !== 2 ? 'true' : 'false'}}" deletable="{{$index !== 2 ? 'true' : 'false'}}"></div>
        <div ng-if="$index < 2" style="margin-left: 20px">
          <div class="detailsWell">
            <div>Relationship Type</div>
            <a href="" class="btn btn-link non-form addDetail" ng-click="addFact($index)">
              <i class="fa fa-plus-square">&nbsp;</i>Add
            </a>
          </div>
          <div fs-fact fact="fact" show-history="false" ng-repeat="fact in getFacts($index) | orderBy:getFormalDate"></div>
        </div>
      </div>
    </div>
  </div>
</div>