<div>
  <h3>Adding Person</h3>
  <h6>Good News! We may have found a match!</h6>
  <div class="searchResults new show">
    <div class="refineBar">
      <div class="refineLinks">
        <a href="" class="newSearch btn btn-default" ng-click="$emit('refine', true)">New</a>
        <a href="" class="refineSearch btn btn-default" ng-click="$emit('refine', false)">Refine</a>
      </div>
      <!-- TODO
      <ul class="refinementsList clearfix">
        <li data-refine="given">
          <label class="refineLabel">First Name</label>
          <button type="button" class="label label-info removeRefinement">pranas <span class="fa fa-times"></span></button>
        </li>
        <li data-refine="surname">
          <label class="refineLabel">Last Name</label>
          <button type="button" class="label label-info removeRefinement">paukstys <span class="fa fa-times"></span></button>
        </li>
      </ul>
      -->
    </div>
    <table class="searchResultsTable grid">
      <thead class="hiddenHeader">
      <tr>
        <th class="personHeader">Person</th>

        <th class="eventsHeader" style="width: 30%">Events</th>

        <th class="parentsHeader">Parents</th>

        <th class="spouseHeader">Spouse</th>

        <th class="actionColumn" style="width: 8%"></th>
      </tr>
      </thead>

      <!-- TODO when to display? -->
      <tfoot class="resultsFoot">
      <tr>
        <td colspan="5">
          <div ng-hide="count > 0">
            No results found.
          </div>

          <div class="noResultsAdd">
            <span ng-hide="count > 0">There is no match</span>
            <span ng-show="count > 0">None of these is a match</span>
            <input ng-click="$emit('add')" class="addperson" type="submit" value="Add">
            <span ng-show="busy" style="padding-left: 10px"><i class="fa fa-spinner fa-spin"></i></span>
          </div>
        </td>
      </tr>
      </tfoot>

      <tbody class="resultsRecords">
      <tr class="messageBar strong hidden-xs">
        <td class="improveResultsTd" colspan="5">
          <div class="improveResultsWrapper">
            <div class="improveResults">
              These results strongly match your search terms.
            </div><span class="resultsLabel resultsFound">{{begin}}-{{end}} of {{count}} results</span><br style="clear:both">
          </div>
        </td>
      </tr>

      <tr fs-search-result result="result" ng-repeat="result in results"></tr>

      <!-- I'm unable to re-create a "do not strongly match" scenario from FS, so I'm commenting this out for now
           Once we know what the differentiator is, we can use a filter function on the ng-repeat loops
      <tr class="messageBar partial">
        <td class="improveResultsTd" colspan="5">
          <div class="improveResultsWrapper partialMatchContainer">
            <div class="partialMatch">
              The following results do not strongly match what you searched for, but they may help.
            </div><span class="resultsLabel resultsFound">{{begin}}-{{end}} of {{count}} results</span><br style="clear:both">
          </div>
        </td>
      </tr>

      <tr fs-search-result result="result" ng-repeat="result in results"></tr>
      -->

      </tbody>
    </table>
    <div ng-hide="!!context">
      <span pagination page="currentPage" total-items="count" items-per-page="pageSize" on-select-page="pageChanged(page)"></span>
    </div>

  </div>

</div>