<div class="sourceDialog attachSource" id="sourceAttachDialog" tabindex="-1" role="dialog" aria-labelledby="sourceAttachDialogLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h2>Detach Source From
      <span ng-show="!!husband && !!wife">Couple Relationship</span>
      <span ng-show="!!child">Parent-Child Relationship</span>
    </h2>
    <div fs-couple-profile ng-show="!!husband && !!wife" husband="husband" wife="wife" hide-popover="true"></div>
    <div fs-parents-profile ng-show="!!child" child="child" father="father" mother="mother" hide-popover="true"></div>
    <div fs-person-smaller ng-show="!!person" person="person"></div>
  </div>
  <div class="modal-body">
    <h4 ng-show="sourceRef.$getTags().length > 0">Tagged Events</h4>
    <span ng-repeat="tag in sourceRef.$getTags()">
      {{tag | fsGedcomxLabel}}<span ng-hide="$last">,</span>
    </span>
    <h4>Reason This Source Was Attached</h4>
    <span>{{sourceRef.attribution.changeMessage}}</span>
    <h4>Attached</h4>
    {{sourceRef.attribution.modified | date:'dd-MMM-yyyy'}} by {{agent.$getAccountName()}}
    <form role="form">
      <div class="form-group">
        <label for="justification">Reason to Detach Source</label>
        <textarea rows="4" class="form-control" id="justification" ng-model="changeMessage"
                  placeholder="Explain why you are detaching this source."></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary saveButton" type="submit" ng-click="ok(changeMessage)">Detach</button>
    <button class="btn btn-link cancelButton" type="submit" ng-click="cancel()">Cancel</button>
  </div>
</div>