<div class="panel panel-info changes-panel">
  <div class="panel-heading">
    <h4 class="panel-title">Attached To</h4>
  </div>
  <div class="panel-body change-objects">
    <div class="person-info-container" ng-repeat="sourceRefContext in sourceRefContexts">
      <div ng-if="!!sourceRefContext.person">
        <div style="font-weight: bold">Person</div>
        <div fs-person-smallest person="sourceRefContext.person"></div>
      </div>
      <div ng-if="!!sourceRefContext.couple">
        <div style="font-weight: bold">Couple Relationship</div>
        <div>
          <div>Husband</div>
          <div fs-person-smallest person="sourceRefContext.husband"></div>
        </div>
        <div>
          <div>Wife</div>
          <div fs-person-smallest person="sourceRefContext.wife"></div>
        </div>
      </div>
      <div ng-if="!!sourceRefContext.parents">
        <div style="font-weight: bold">Parent-Child Relationship</div>
        <div ng-show="!!sourceRefContext.father">
          <div>Father</div>
          <div fs-person-smallest person="sourceRefContext.father"></div>
        </div>
        <div ng-show="!!sourceRefContext.mother">
          <div>Mother</div>
          <div fs-person-smallest person="sourceRefContext.mother"></div>
        </div>
        <div>
          <div>Child</div>
          <div fs-person-smallest person="sourceRefContext.child"></div>
        </div>
      </div>
    </div>

    <a href="" ng-show="sourceRefContexts.length > 0" ng-click="$emit('showAttachments', description)">Show all</a>
  </div>
</div>
