<div fs-item-edit item="gender" agent="agent" hide-modified="{{hideModified}}" hide-buttons="{{hideButtons}}">
  <div class="form-group">
    <div class=text-center">
      <label class="radio-inline" ng-repeat="genderOption in genderOptions">
        <input type="radio" ng-model="form.type" value="{{genderOption.value}}"> {{genderOption.label}}
      </label>
    </div>
  </div>
  <div class="form-group" ng-hide="hideReason === 'true'">
    <label>Reason this Information is Correct</label>
    <textarea class="form-control" ng-model="form.reason" placeholder="Explain why you feel this information is correct."></textarea>
  </div>
</div>
