<div class="detailsWell" ng-class="{well: item._isOpen() || item._isEditing(), openDetails: item._isOpen(), editing: item._isEditing()}">
  <div class="detailActions pull-right">
    <a ng-show="editable === 'true'  && !item._isEditing()" href=""
       class="btn btn-xs btn-link editDetail non-form" ng-click="item._edit()">
      <i class="fa fa-edit">&nbsp;</i><span ng-hide="item._exists()">Add</span><span ng-show="item._exists()">Edit</span>
    </a>
    <a ng-show="changeable === 'true' && !item._isEditing()" href=""
       class="btn btn-xs btn-link editDetail non-form" ng-click="$emit('change', item)">
      <i class="fa fa-edit">&nbsp;</i><span ng-hide="item._exists()">Add</span><span ng-show="item._exists()">Change</span>
    </a>
    <a ng-show="deletable === 'true' && item._exists() && !item._isEditing()" href=""
       class="deleteDetail btn btn-link btn-xs non-form" ng-click="$emit('delete', item)">
      <i class="fa fa-trash-o">&nbsp;</i>{{deleteLabel || 'Delete'}}
    </a>
    <a href="" class="btn btn-xs btn-link detailsItem closeDetail" ng-click="item._close()">
      <i class="fa fa-times-circle">&nbsp;</i>Close
    </a>
  </div>
  <div ng-transclude></div>
</div>
