<div class="detailsItem editingItem detailModified">
  <div>
    <span>Reason this information is correct</span>
    <span ng-show="!!person.attribution.changeMessage">| <a href="" ng-click="person._edit()">Edit</a></span>
    <p ng-show="!!person.attribution.changeMessage">{{item.attribution.changeMessage}}</p>
    <p ng-hide="!!person.attribution.changeMesage"><a href="" ng-click="person._edit()">Add</a></p>
  </div>
  <div fs-item-modified item="person" agent="agent" show-history="false"></div>
</div>