.tree-wrapper {position:relative; width:2500px; margin-left:-120px; background:#ecebea; font-family: "ProximaNova", Verdana, sans-serif;}
.sans-serif {font-family: 'Montserrat', Verdana, sans-serif;}
.all-family-wrapper {position:relative; width:300px}
.next-gen-kids {margin:30px 22px 0 0}
.next-gen-kids-arrow {background:#787068; color:#ffffff; padding:5px 6px 5px 4px; font-size: 10px; border-radius: 50%; margin-left:5px}
.next-gen-anc {margin:30px 0 0 22px}
.next-gen-anc-arrow {background:#787068; color:#ffffff; padding:5px 4px 5px 6px; font-size: 10px; border-radius: 50%; margin-right:5px}
.all-husbands-wrapper {position:absolute; top:3px; max-width:300px;}
.all-husbands-arrow-closed {background:#787068; color:#ffffff;width:20px; height:37px; padding-top:8px; text-align: center; border-top-left-radius: 7px; -moz-border-top-left-radius: 7px; -webkit-border-top-left-radius: 7px;}
.all-husbands-arrow-open {background:#59534d; color:#ffffff;width:20px; height:37px; padding-top:8px; text-align: center}
.all-family-label {background: #ecebea; width:280px; padding-right:5px} /*matches family list wrapper width*/
.all-family-list-wrapper {width:280px; padding-right:5px; background: #ffffff; border:solid 1px #cccccc;}
.all-family-list {height:100px; overflow:auto; background: #ffffff;}
.all-wives-wrapper {position:absolute; top:43px; width:300px; z-index: 555555;}
.all-wives-arrow-closed {background:#787068; color:#ffffff;width:20px; height:37px; padding-top:8px; text-align: center; border-bottom-left-radius: 7px; -moz-border-bottom-left-radius: 7px; -webkit-border-bottom-left-radius: 7px;}
.all-wives-arrow-open {background:#59534d; color:#ffffff;width:20px; height:37px; padding-top:8px; text-align: center}
.couple-card {
    background-color: #FFFFFF;
    border: 1px solid #fff;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    -moz-box-shadow: 0 0 .9em 0 #99938D;
    -webkit-box-shadow: 0 0 .9em 0 #99938D;
    box-shadow: 0 0 .9em 0 #99938D;
    padding: 0.2em 0.6em;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 300px;
    color:#555555;
}
.name-line {font-size: 16px;}
.couple-icon {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    line-height: 28px;
    display: block;
    text-align: center;
    padding: 0 0 0 4px;
    margin-top: 5px;
    font-size:20px;
}
.couple-icon-female {background: #dd407d; color: #fff; }
.couple-icon-male {background: #4888f8; color: #fff;}
.pedigree-lifeSpan {font-size:14px; margin-right:10px;}
.dot-guy {font-size:70%; margin-top:2px}
.pedigree-pid {font-size:14px; margin-left:10px;clear:right;}
.kid-list-arrow {
    background:#787068;
    padding:5px;
    color:#ffffff;
    border-radius:  0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
    z-index: 99999;
    margin-top:-1px;
}
.kid-list-arrow-closed {
    background:#787068;
    padding:5px;
    color:#ffffff;
    border-radius:  0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
    z-index: 99999;
    margin:0 0 0 14px;
}
.kid-list-label {margin:4px 10px}
.kid-list-wrapper {background:#ffffff;width:250px;border:solid 1px #CDCBC8;margin-left:5px;padding-left:8px;}
.husband-parents-arrow-closed {background:#787068; color:#ffffff;width:20px; height:37px; padding-top:8px; text-align: center; border-top-right-radius: 7px; -moz-border-top-right-radius: 7px; -webkit-border-top-right-radius: 7px;}
.husband-parents-arrow-open {background:#59534d; color:#ffffff;width:20px; height:37px; padding-top:8px; text-align: center}
.wife-parents-arrow-closed {background:#787068; color:#ffffff;width:20px; height:37px; padding-top:8px; text-align: center; border-bottom-right-radius: 7px; -moz-border-bottom-right-radius: 7px; -webkit-border-bottom-right-radius: 7px;}
.wife-parents-arrow-open {background:#59534d; color:#ffffff;width:20px; height:37px; padding-top:8px; text-align: center}
.child-list-item {margin:-50px 0 70px 0; position:relative}
.child-connector-top {border-top:solid 1px #787068;border-right:solid 1px #787068; position:absolute; top: 41px; right:280px; width:20px; height:85px; z-index:1}
.child-connector-middle {border-right:solid 1px #787068; position:absolute; top:-5px; right:280px; width:20px; height:115px; z-index:1}
.child-connector-middle-bar {height: 5px; width:20px; border-top:solid 1px #787068; position:absolute; top:45px; left:600px; z-index: 1}
.child-connector-bottom {border-bottom:solid 1px #787068;border-right:solid 1px #787068; position:absolute; top: -10px; right:280px; width:20px; height:65px; z-index:1}


