<div class="non-form">
  <div ng-hide="linkLabel === 'true'">
    <span class="eventLabel">{{label}}</span>
    <span ng-show="item._busy" class="pull-right"><i class="fa fa-spinner fa-spin"></i></span>
  </div>
  <a href="" class="btn btn-link non-form addDetail" ng-show="!item._exists() && addable === 'true'" ng-click="item._edit()">
    <i class="fa fa-plus-square">&nbsp;</i>Add
  </a>
  <a href="" class="openEventDetails" ng-show="item._exists()" ng-click="item._toggleOpen()">
    <div ng-show="linkLabel === 'true'">
      <span class="eventLabel">{{label}}</span>
      <span ng-show="item._busy" class="pull-right"><i class="fa fa-spinner fa-spin"></i></span>
    </div>
    <div ng-transclude></div>
  </a>
</div>
