<!DOCTYPE html>
<!--suppress XmlUnusedNamespaceDeclaration -->
<html xmlns:ng="http://angularjs.org" lang="en" id="ng-app" ng-app="fsClone" ng-controller="AppController">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- TODO setting page title doesn't seem to be working; do we need to set it on root scope? -->
  <title ng-bind="pageTitle"></title>

  <!-- Latest compiled and minified bootstrap CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">



  <!-- fonts -->
  <link href="assets/museo/museo.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

  <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
  <link href="assets/tree.css" rel="stylesheet">


  <!-- Latest compiled and minified jQuery -- before we load any of our own scripts, angular in particular -->
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script><% }); %>

  <!--[if lt IE 9]>
  <script src="assets/es5-shim.min.js"></script>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>
<!-- CORS doesn't work below IE8 so there's no hope -->
<!--[if lt IE 8]>
<p class="chromeframe">D'oh! You're using an outdated browser, man. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target=".header-collapse" data-toggle="collapse" type="button"><span
          class="sr-only">Toggle navigation</span></button>
      <a class="navbar-brand" href="#">FamilySearch Clone</a>
    </div>
    <div class="collapse navbar-collapse header-collapse">
    </div>
  </div>
</div>

<div id="themeContainer" class="familysearch_theme">
  <div fs-growl></div>
  <div class="container" ui-view></div>
</div>

</body>
</html>
