<div class="familyWidgetContainer">
  <div fs-section section-title="Family Members" state="state">
        <div class="row">
          <div class=" col-sm-6 spousesAndChildren immediateFamily">
            <h5>Spouses and Children</h5>
            <div class="familyActions">
              <span ng-show="spouseFamilies.length > 0">
                <a href="" ng-hide="hasHiddenChildren(spouseFamilies)" ng-click="hideChildren(spouseFamilies, true)" class="hideChildren"><i class="fa fa-eye-slash">&nbsp;</i>Hide All</a>
                <a href="" ng-show="hasHiddenChildren(spouseFamilies)" ng-click="hideChildren(spouseFamilies, false)" class="hideChildren"><i class="fa fa-eye">&nbsp;</i>Show All</a>
              </span>
              <span ng-hide="hasUnknownGender(person)">
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a ng-href="{{addSpouseHref}}" class="btn btn-link non-form addSpouse">
                  <i class="fa fa-plus-square">&nbsp;</i>Add Spouse
                </a>
              </span>
              <span ng-show="hasUnknownGender(person)">
                Set gender to add spouse and children
              </span>
            </div>
            <div ng-repeat="family in spouseFamilies">
              <div fs-family-members family="family" focus-id="person.id"
                  show-preferred="{{showPreferred(family, spouseFamilies) ? 'true' : 'false'}}" preferred="preferredCouple"></div>
            </div>
            <a ng-href="{{addChildHref}}" ng-hide="hasUnknownGender(person)" class="btn btn-link non-form addChild unknownFather">
              <i class="fa fa-plus-square">&nbsp;</i>Add Child with an Unknown {{person._isMale() ? 'Mother' : 'Father'}}
            </a>
          </div>
          <div class="col-sm-6 parentsAndChildren immediateFamily">
            <h5>Parents and Siblings</h5>
            <div class="familyActions">
              <span ng-show="parentFamilies.length > 0">
                <a href="" ng-hide="hasHiddenChildren(parentFamilies)" ng-click="hideChildren(parentFamilies, true)" class="hideChildren"><i class="fa fa-eye-slash">&nbsp;</i>Hide All</a>
                <a href="" ng-show="hasHiddenChildren(parentFamilies)" ng-click="hideChildren(parentFamilies, false)" class="hideChildren"><i class="fa fa-eye">&nbsp;</i>Show All</a>
              </span>
              &nbsp;&nbsp;|&nbsp;&nbsp;
              <a ng-href="{{addParentHref}}" class="btn btn-link non-form addSpouse">
                <i class="fa fa-plus-square">&nbsp;</i>Add Parent
              </a>
            </div>
            <div class="panel-body parents-children">
              <div ng-repeat="family in parentFamilies">
                <div fs-family-members family="family" focus-id="person.id"
                    show-preferred="{{showPreferred(family, parentFamilies) ? 'true' : 'false'}}" preferred="preferredParents"></div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
